<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Tests List</title>
</head>
<body>
<h1>Список всех тестов:</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Created date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test: ${tests}">
        <td th:text="${test.id()}"></td>
        <td><a data-th-href="@{tests/{title}(title=${test.title()})}"
               th:text="${test.title()}"></a></td>
        <td th:text="${test.createdDate()}"></td>
    </tr>
    </tbody>
</table>
<a data-th-href="@{/tests/create}">Create new test</a>
<br>
<a data-th-href="@{/}">Back</a>
</body>
</html>